<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nakupovalko</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <h1>Nakupovalko</h1>
    <p>Že imate račun?</p>
    <div id="app">
        <button @click="handleLogin">Prijava</button>
    </div>
    <br>
    <p>Prvi obisk?</p>
    <div id="app">
        <button @click="handleRegistration">Registracija</button>
    </div>

    <script src="/login.js"></script>
</body>
</html>